<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<head>

    <!-- TITLE OF SITE -->
    <title> ReelDeal | A KAGW cinema Celebration </title>


    <meta charset="utf-8">
    <meta name="description" content="Reel Dela is film festival by kagw." />
    <meta name="keywords" content="Reel Deal, film festival, kagw" />
    <meta name="author" content="jayasanker karakulath">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--   FAV AND TOUCH ICONS   -->
    <link rel="icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-small.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">


    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- PRELOADER -->
    <div class="spinner-wrapper">
        <div class="bubblingG">
            <span id="bubblingG_1"></span>
            <span id="bubblingG_2"></span>
            <span id="bubblingG_3"></span>
        </div>
    </div>
    <!-- /END PRELOADER -->


    <header class="header-background header" id="header" data-stellar-background-ratio="0.5">
        <!--Start: "Header Area"-->
        <div class="fix header-overlay">

            <!-- Start: Navbar Area  -->
            <div class="header-navbar navbar-fixed-top" id="header-navbar">
                <nav class="navbar navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">

                            <!-- Show in Mobile -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar icon-close-1"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar icon-close-2"></span>
                            </button>

                            <!-- Your Icon Goes Here -->
                            <a class="navbar-brand" href="index.html">
                                <img class="img-responsive reel-deal-logo" alt="">
                            </a>

                        </div>

                        <!-- Show in Dexktop -->
                        <button type="button" class="navbar-toggle navbar-cus hidden-xs " id="navbar-cus"
                            style="padding-right= 0px">
                            <span class="lines"></span>
                        </button>

                        <!-- Navbar Option -->
                        <div id="myNavbar">
                            <ul id="navbar-nav" class="myNavbarUl nav navbar-nav navbar-right slideOutRight">
                                <li><a href="#header">Home</a></li>
                                <li><a href="#section-1">About</a></li>
                                <li><a href="#section-3">Important Dates</a></li>
                                <li><a href="#section-5">Submit Your Film</a></li>
                                <li><a href="#" class="btn" data-toggle="modal"
                                        data-target="#terms-condition-modal">Rules and Terms</a></li>
                            </ul>
                        </div>
                    </div> <!-- End: container  -->
                </nav> <!-- End: navbar navbar-inverse  -->
            </div>
            <!-- End: Navbar Area  -->

            <div class="container">
                <div class="row header-body" id="header-body">
                    <div class="reel-deal-big-image wow fadeInDown animated" data-wow-offset="120"
                        data-wow-duration="1.5s"></div>
                    <!-- Start: CountDown area -->
                    <div class="count_down  wow fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">
                    </div>
                    <!-- End: CountDown area -->

                    <div class="clearfix"></div>
                    <div class="pera">
                        <!-- Start: Button area -->
                        <div class="buy-tricket btn-scroll wow fadeInUp animated" data-wow-offset="120"
                            data-wow-duration="1.5s">
                            <div class="btn-group">
                                <a href="https://filmfreeway.com/reeldeel"
                                    class="btn-fill btn-standard btn btn-cus">SUBMIT YOUR FILM</a>
                            </div>
                        </div>
                        <!-- End: Button area" -->

                    </div><!-- End: col-md-5 pera  -->


                </div><!-- End: header-body  -->
            </div> <!-- End: container  -->


        </div> <!-- End: fix header-overlay overlay-color  -->
    </header>
    <!--End: Header Area-->


    <section class=" about-our-event" id="section-1">
        <!-- Start: about-our-event, "SECTION-1" -->
        <div class="container">

            <!-- Start: About Our Event Area  -->
            <div class="row about-our-event-body">

                <!-- Start: About-Our-Event Left Area  -->
                <div class="about-our-event-left col-md-5 wow fadeInLeft animated" data-wow-offset="120"
                    data-wow-duration="1.5s">
                    <div class="about-our-event-left-body">
                        <h2>REEL DEAL</h2>
                        {{{data "intro"}}}
                    </div>
                </div>
                <!-- End: About-Our-Event Left Area  -->

                <!-- Start: About-Our-Event Right Area  -->
                <div class="about-our-event-right col-md-offset-1 col-md-6 wow fadeInRight animated"
                    data-wow-offset="120" data-wow-duration="1.5s">
                    <div class="container-fluid">
                        <div class="row about-our-event-right-body">
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 background time">
                                <span class="title">Workshops</span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 background time">
                                <span class="title">Screenings</span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 background time">
                                <span class="title">Fimlmaker Q/A</span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 background time">
                                <span class="title">Networking</span>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 background time">
                                <span class="title">Awards</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: About-Our-Event Right Area  -->
            </div>
            <!-- End: About Our Event Area  -->


            <!-- Start: About-Our-Event Overlay background Area  -->
            <div class="about-background-image">

                <!-- About-Our-Event Overlay background Left Area  -->
                <div class="background-left col-sm-12 col-md-6"></div>

                <!-- About-Our-Event Overlay background Right Area  -->
                <div class="bg-img-3 background-right col-sm-12 col-md-6">
                </div>

            </div> <!--  about-background-image  -->

        </div> <!-- End: container -->
    </section> <!-- End: about-our-event, "SECTION-1" -->

    <section class="our-featured-speaker" id="section-2">
        <!-- Start: our-featured-speaker, "SECTION-2" -->
        <div class="container">

            <div class="row our-featured-speaker-body">

                <!-- Start: Our Featured Speaker Left -->
                <div class="our-featured-speaker-left col-md-6 wow fadeInRight animated" data-wow-offset="120"
                    data-wow-duration="1.5s">
                    <div class="award-image"></div>
                </div>
                <!-- End: Our Featured Speaker Left -->


                <!-- Start: Our Featured Speaker Right -->
                <div class="our-featured-speaker-right col-md-6 wow fadeInLeft animated" data-wow-offset="120"
                    data-wow-duration="1.5s">
                    <h2>Awards</h2>
                    <h3 class="awart-main-text">Reel Deal celebrates excellence in the following areas.</h4>
                        <ul class="award-categories">
                            <li>Best Film</li>
                            <li>Best Screenplay</li>
                            <li>Best Director</li>
                            <li>Best Cinematography</li>
                            <li>Best Editing</li>
                            <li>Best Sound Design</li>
                            <li>Best Acting - Lead Role - Male</li>
                            <li>Best Acting - Lead Role - Female</li>
                            <li>Best Acting - Supporting Role - Male</li>
                            <li>Best Acting - Supporting Role - Female</li>
                            <li>Best Visual Effects</li>
                            <li>Audience choice Award (most popular film)</li>
                            <li>Manipravalam Award (Best Malayalam screen play)</li>
                            <li>Sprite award ( best uplifting message)</li>
                            <li>Special Jury Award (award for excellence at discretion of the judging panel)</li>
                        </ul>

                        <h4 class="awart-main-junier">Filmmakers less that 16 years old at the time on jul 15Th 2019
                            will be judged in a seperate "Junior Category"</h4>

                        <!-- End: Button area" -->

                </div>
                <!-- End: Our Featured Speaker Right -->

            </div><!-- Start: our-featured-speaker-body  -->

        </div><!-- End: container  -->
    </section> <!-- End: our-featured-speaker, "SECTION-2" -->



    <section class="scedule-background scedule" id="section-3">
        <!-- Start: our-featured-speaker, "SECTION-3" -->
        <div class="fix overlay-color">
            <!-- Start: Overlay color  -->
            <div class="container">
                <div class="row scedule-body">
                    <h2>Important Dates</h2>

                    <div>
                        <div class="clearfix visible-xs visible-sm"></div>

                        <!-- Tab panes -->
                        <div class="col-md-12">
                            <div class="active wow fadeInUp animated animated" data-wow-offset="10"
                                data-wow-duration="1.5s" id="scedule-1"
                                style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">
                                <div>
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-cus col-md-4" role="tablist" id="nav-ul-scedule-1"
                                        style="display: block;">
                                        <li role="presentation" class="active">
                                            <a>
                                                <span class="nav-header">Submission Opens</span>
                                                <span class="nav-time">Dec 11th, 2021</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="active">
                                            <a>
                                                <span class="nav-header">Early Bird Submission Closes</span>
                                                <span class="nav-time">May 25, 2022</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="active">
                                            <a>
                                                <span class="nav-header">Submission Closes</span>
                                                <span class="nav-time">June 15, 2022</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="active">
                                            <a>
                                                <span class="nav-header">Reel Deal</span>
                                                <span class="nav-time">Jul 16</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <p class="text-white">Submit you film betwen Dec 11th, 2022 and May 25, 2022 to
                                        qualify for Early Bird sublition fee rates. Submissions can be made till 11:59
                                        pm on the said date. You will Recieve an email confirming your Submission. If
                                        you film is selected for screening or nominated for an award you will be
                                        intimated by email.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- End: our-futured-speaker-body   -->
            </div> <!-- End: container   -->
        </div> <!-- End: Overlay color   -->
    </section> <!-- End: our-featured-speaker, "SECTION-3" -->



    <section class="pricing-tables register-background " id="section-5">
        <!-- Start: Pricing Table Area, "SECTION-5" -->
        <div class="overlay-color">
            <div class="container ">
                <div class="row pricing-tables-body">

                    <!-- Start: Pricing Table Left  -->
                    <div class="pricing-tables-left col-xs-12 col-sm-8 col-md-8">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
                                    <h1>Submit your film</h1>
                                </div>
                                <div class="wow fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">
                                    {{{data "rules"}}}
                                    <p>Please read the full Rules and terms<a class="btn" data-toggle="modal"
                                            data-target="#terms-condition-modal">here</a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End: Pricing Table Left  -->

                    <!-- Start: Pricing Table Right  -->
                    <!-- Pricing Table - 1 -->
                    <div class="tab-content pricing-tables-right col-xs-12 col-sm-4 col-md-4">
                        <div class="tab-pane active" id="pricing-table-1">
                            <div class="wow fadeInDown animated" data-wow-delay="0.5s">
                                <div class="table-single">
                                    <p class="early-bird">
                                        <span class="currency">$</span>
                                        <span class="rate">25</span>
                                        <br />
                                        <span class="period">Early Bird</span>
                                    </p>
                                    <p class="late">
                                        <span class="currency">$</span>
                                        <span class="rate">50</span>
                                        <br />
                                        <span class="period">Late submission</span>
                                    </p>

                                    <p class="submission">
                                        <span> By submitting your film you here by agree to Reel Deal
                                            <a class="btn" data-toggle="modal" data-target="#terms-condition-modal"
                                                herf="rulesAndTerms.html">terms and conditions</a></span>
                                        <span>
                                            <a href="https://filmfreeway.com/festivals/64127?utm_campaign=ReelDeal&utm_medium=External&utm_source=Submission+Button"
                                                target="_blank" title="Click to submit on FilmFreeway">
                                                <img width="100%"
                                                    src="https://storage.googleapis.com/filmfreeway-assets/submission_buttons/v2/med_submission_btn@2x-tangerine.png"
                                                    title="Click to submit on FilmFreeway">
                                            </a>
                                        </span>
                                    </p>
                                </div> <!-- End: .table-single -->
                            </div> <!--  -->

                        </div>
                    </div><!-- Start: Pricing Table Right  -->
                </div><!-- End: .pricing-table-body  -->
            </div> <!-- End: .container  -->


        </div><!-- End eoverlay-->

    </section> <!-- End: .Pricing .Table Area, "#SECTION-5" -->


    <section class="collapse-area" id="section-8">
        <!-- Start: Collapse Area, "#SECTION-8" -->
        <div class="container">
            <div class="row">
                <!-- Start: Collapse Area Right  -->
                <div class="collapse-right col-sm-12 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7">

                    <h2 class="wow fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">Freaquently Asked
                        Question</h2><!-- Collapse Title Goes Here  -->

                    <!--  Start: Collapse-tab  -->
                    <div class="collapse-tab ">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default wow fadeInUp animated" data-wow-offset="120"
                                data-wow-duration="1.5s" id="panel1">
                                <!-- Start: Tab-1 -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">

                                        <!-- Tab-1 Title Goes Here  -->
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                                            Will my film qualify for junior section?.Many of my actors/crew are adults?
                                            <span class="bar hidden-xs"></span>
                                        </a>

                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <!-- Tab-1 Detail Goes Here  -->
                                    <div class="panel-body">
                                        The film will qualify as long as the either the producer or the director is
                                        under 16. Individual award categorys like Best Actor, Best Director, Best Editor
                                        ect will qualify if the nominee is under 16.
                                    </div>
                                </div>
                            </div><!-- End: Tab-1 -->
                            <div class="panel panel-default wow fadeInUp animated" data-wow-offset="120"
                                data-wow-duration="1.5s" id="panel2">
                                <!-- Start: Tab-2 -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">

                                        <!-- Tab-1 Title Goes Here  -->
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                            class="collapsed">
                                            Which payment methods do you accept?
                                            <span class="bar hidden-xs"></span>
                                        </a>

                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">

                                    <!-- Tab-2 Detail Goes Here  -->
                                    <div class="panel-body">
                                        We accept Pay Pal.
                                    </div>

                                </div>
                            </div><!-- End: Tab-2 -->
                            <div class="panel panel-default wow fadeInUp animated" data-wow-offset="120"
                                data-wow-duration="1.5s" id="panel3">
                                <!-- Start: Tab-3 -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">

                                        <!-- Tab-3 Title Goes Here  -->
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                            class="collapsed">
                                            Will My film quallify for Manipravalam Award ?
                                            <span class="bar hidden-xs"></span>
                                        </a>

                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">

                                    <!-- Tab-3 Detail Goes Here  -->
                                    <div class="panel-body">
                                        As long as 80% of your film dialogues are in malayalam, your film will qualify.
                                    </div>

                                </div>
                            </div><!-- End: Tab-3 -->
                            <div class="panel panel-default wow fadeInUp animated" data-wow-offset="120"
                                data-wow-duration="1.5s" id="panel4">
                                <!-- Start: Tab-4 -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">

                                        <!-- Tab-4 Title Goes Here  -->
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                                            class="collapsed">
                                            Wiil my film be picked for screening?
                                            <span class="bar hidden-xs"></span>
                                        </a>

                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">

                                    <!-- Tab-4 Detail Goes Here  -->
                                    <div class="panel-body">
                                        While we want to screen every single submitted films our programming time is
                                        limited. The judges will pick 8 - 10 best films to be screened followed by a 7
                                        minutes Q/A with the fimmaker.
                                    </div>

                                </div>
                            </div><!-- End: Tab-4 -->

                        </div> <!-- End: .panel-group  -->
                    </div><!--  End: .collapse-tab  -->

                </div>
                <!-- End: Collapse Area Right  -->


            </div> <!-- End: .row  -->
        </div> <!-- End: .container  -->
    </section> <!-- End: Collapse Area, "#SECTION-8" -->


    <section class="twitter-background twitter-posts" id="section-10">
        <!-- End: Twitter Posts Area, "#SECTION-10" -->
        <div class="fix overlay-color">
            <div class="container">

                <div class="row twitter-posts-body col-md-offset-1 col-md-10 fadeIn animated" data-wow-offset="120"
                    data-wow-duration="1.5s">

                    <!--  Start: Slider  -->
                    <div id="sync" class="owl-carousel">

                        <!-- TESTIMONIAL TEXT - CLIENT'S MSG -->
                        <div class="item row">
                            <div class="col-md-10 col-md-offset-1">
                                <h3>Please contact up if you have any questions or concerns by email <a
                                        href="mailto://ReelDeal@kagw.com" target="_blank">ReelDeal@Kagw.com</a> Or call
                                    us at 202 802 5062 or 240 498 3336</h3>
                            </div> <!-- /.col-md-8 col-md-offset-2 -->
                        </div>
                    </div>
                    <!--  End: Slider  -->
                </div> <!-- End: .row .twitter-posts-body .col-md-offset-1 .col-md-10  -->

            </div> <!-- End: .contaimer  -->
        </div> <!-- End: .overlay-color  -->
    </section> <!-- End: Twitter Posts Area, "#SECTION-10" -->

    <!-- Modal -->
    <div class="modal fade" id="terms-condition-modal" tabindex="-1" role="dialog"
        aria-labelledby="terms-condition-modalLabel" aria-hidden="true">
        <div class="modal-dialog tearms-condition-modal">
            <div class="modal-content header-background">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h1 class="modal-title" id="terms-condition-modalLabel">Rules and Terms</h1>
                </div>
                <div class="modal-body fix overlay-color">
                    <div class="container">
                        <div class="row header-body blog-header">
                            <div class="search col-md-12 col-sm-12">
                                {{{data "terms-condition"}}}
                            </div><!-- End: search col-md-6 col-sm-12 -->
                        </div><!-- End: row header-body blog-header  -->
                    </div><!--  End: container  -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <footer class="footer">
        <!-- Start: Footer Area  -->
        <div class="container">
            <div class="row footer-body btn-scroll">

                <!-- Your Icon Goes Here  -->
                <div class="logo col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="#"><img alt="" class="img-responsive reel-deal-logo"></a>
                </div>

                <!--  Scroll Top  -->
                <div class="top-buttom col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="#header" class="btn-standard btn btn-top"><span class="glyphicon glyphicon-menu-up"
                            aria-hidden="true"></span></a>
                </div>

            </div><!-- End: .row .footer-body .btn-scroll  -->
        </div> <!-- End: .container  -->
    </footer> <!-- End: Footer Area  -->


</body>

</html>